.bg-primary.bg-gradient {
  background-image: url('../image/img12.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-light:hover {
  background-color: #7e1519;
  color:white;
}

.text-white {
  color: #7e1519 !important;
   
}

  
  